/* table, th, td {
    border-style: solid;
    border-width: 1px;
    text-align: center;
} */


/* .corona-table>thead>tr>th {
    border-width: 2px;
} */

.main-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1100px) {
    .main-container {
        width: 100%;
    }
}

#loading-spinner,
#loading-text {
    visibility: inherit;
}

#corona-table>thead>tr>th {
    top: 0;
    background: white;
    position: sticky;
}

#corona-table>thead>tr>th,
#corona-table>tbody>tr>td {
    vertical-align: middle;
    text-align: center;
}

.jumbotron {
    width: 100%;
}

.title {
    margin-bottom: 20px;
}

th,
td {
    padding: 3px;
    word-wrap: break-word;
}

#corona-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
}

#search_bar {
    margin: 10px;
}

#search-flex {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}